:root {
  --blue: #05798d;
  --green: #018d63;
  --red: #be053d;
  --orange: #dba102;
  --light: #f5f5f5;
  --white: #ffff;
  --overlay: #0000004d;
}

body {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utilities */
.shadow {
  box-shadow: 2px 2px 5px rgb(173, 172, 172);
}

.t-2 {
  font-size: 2rem !important;
}

/*Background*/

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

/* Text */

.text-blue {
  color: var(--blue);
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

.text-orange {
  color: var(--orange);
}

.text-light {
  color: var(--light);
}

.text-white {
  color: var(--white);
}

/* Buttons */

.btn {
  padding: 15px;
  min-width: 100px;
  width: 150px;
  margin: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

/* Primary button*/
.btn-primary {
  background: linear-gradient(#0a6faa, #013d64);
  color: white;
}

.btn-primary:hover {
  background: linear-gradient(#013d64, #0a6faa);
  color: white;
}

.btn-primary:active {
  background: linear-gradient(#07395a, #0a6faa);
  color: white;
}

/* Success Button*/
.btn-success {
  background: linear-gradient(#018d63, #047251) !important;
  color: white;
}

.btn-success:hover {
  background: linear-gradient(#047251, #018d63) !important;
  color: white;
}

.btn-success:active {
  background: linear-gradient(#047251, #016144) !important;
  color: white;
}

/* Error Button*/
.btn-error {
  background: linear-gradient(#be053d, #910630) !important;
  color: white;
}

.btn-error:hover {
  background: linear-gradient(#910630, #be053d) !important;
  color: white;
}

.btn-error:active {
  background: linear-gradient(#6d0424, #6e0323) !important;
  color: white;
}

/* Warning Button*/
.btn-warning {
  background: linear-gradient(#dba102, #a37904) !important;
  color: white !important;
}

.btn-warning:hover {
  background: linear-gradient(#a37904, #dba102) !important;
  color: black !important;
}

.btn-warning:active {
  background: linear-gradient(#a37904, #5f4601) !important;
  color: black !important;
}

/* Light Button*/
.btn-light {
  background: linear-gradient(#e9e8e7, #dddddc) !important;
  color: black !important;
}

.btn-light:hover {
  background: linear-gradient(#dddddc, #e9e8e7) !important;
  color: black !important;
}

.btn-light:active {
  background: linear-gradient(#bebebe, #c5c5c5) !important;
  color: black !important;
}
/* Info Button*/
.btn-info:hover {
  background: linear-gradient(#046070, #05798d) !important;
  color: black;
}
.btn-info {
  background: linear-gradient(#05798d, #046070) !important;
  color: white;
}

.btn-info:active {
  background: linear-gradient(#0b515e, #025564) !important;
  color: black;
}

/* Toastr */
.toast-container {
  position: fixed;
}

.alert-btn {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background: linear-gradient(#0a6faa, #07395a);
  color: white;
  border: none;
  box-shadow: 2px 2px 5px rgb(173, 172, 172);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.alert-btn:hover {
  background: linear-gradient(#0a7daa, #073c5a);
}

.alert-btn:active {
  background: linear-gradient(#07395a, #0a6faa);
}

.toast {
  width: 300px;
  max-width: 320px;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 2px 2px 5px 1px rgb(173, 172, 172);
  color: white;
  transition: all 0.5s ease-in-out;
  animation: zoom 0.5s linear;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top {
  top: 20px;
}

.bottom {
  bottom: 20px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.success {
  background-color: rgb(1, 141, 99) !important;
}

.info {
  background-color: rgb(5, 121, 141) !important;
}

.error {
  background-color: rgb(190, 5, 61) !important;
}

.warning {
  background-color: rgb(219, 161, 2) !important;
  color: black !important;
}

.toastr-confirm {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.toastr-confirm-body {
  max-width: 500px;
  min-width: 300px;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 5px rgb(173, 172, 172);
  background-color: whitesmoke;
  animation: zoom 0.4s linear;
  border-radius: 5px;
}

.toastr-title {
  padding: 5px;
  text-align: center;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.toastr-actions {
  display: flex;
  justify-content: space-between;
}
.toastr-btn-no {
  padding: 15px;
  width: 150px;
  min-width: 100px;
  background: linear-gradient(rgb(170, 10, 71), rgb(90, 7, 21));
  color: white;
  margin: 2px;
  border: none;
  box-shadow: 2px 2px 5px rgb(173, 172, 172);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.toastr-btn-no:hover {
  background: linear-gradient(rgb(90, 7, 21), rgb(170, 10, 71));
}

.toastr-btn-yes {
  padding: 15px;
  width: 150px;
  min-width: 100px;
  background: linear-gradient(rgb(10, 111, 170), rgb(7, 57, 90));
  color: white;
  border: none;
  margin: 2px;
  box-shadow: 2px 2px 5px rgb(173, 172, 172);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.toastr-btn-yes:hover {
  background: linear-gradient(rgb(7, 57, 90), rgb(10, 111, 170));
}

/* Animations */

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.flex-center {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex {
  display: flex;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

#content {
  max-width: 500px;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
}

#content img {
  width: 100%;
  object-fit: cover;
  cursor: zoom-in;
}
